<div class="margin">
  <% if user_signed_in? && (current_user.status == 2 || current_user.status == 3) %>
  <%= link_to "イベント投稿画面", new_post_path %>
  <% end %>
<h2>次のイベント</h2>
  <h3><%= @event.title %></h3><br />
  <p class="event3">
    <%= @event.date.strftime("%Y年 %m月 %d日, %H:%M") %>
  </p>
  <p class="event3">
    <%= @event.member %>/<%= @event.num %>名 あと<%= @event.rest_member %>名！
  </p><br />
  <p class="participate">
  <%= link_to "イベント詳細", event_detail_path(@event), method: :post %>
  <% if user_signed_in? %>
  <%= link_to "参加", attend_event_path(attend_id: @event.id), method: :post , data: {disable_with: "参加申請中...", confirm: "#{@event.title}に参加します、よろしいですか？"}  %>
  <% end %>

  </p>
  <%= image_tag "party.png", class: "bar" %>
  <p>※この画像はイメージです。</p>
<p class="title">中央区晴海。</p>
  <p class="sentence">
東京を代表する「銀座」約2.2km圏に位置する都心の臨海部。世界に開けた海を抱く立地である。<br />
  今、この都心と湾岸がクロスするハイブリッドなポテンシャルを秘めたアドレスに、大人たちの心を解放するような日常を創造する。<br />
  </p>
<%= image_tag "bar.png", class: "bar" %> <br /><br />
<p class="title">
  煌めく東京を見晴らす、天空のVIEW LOUNGE & BAR。</p>
  <p class="sentence">
  都心、そしてレインボーブリッジを望む、WEST棟43階のVIEW LOUNGE&BAR。<br />
  中央に設えたシャンデリアを中心に、バーカウンターや2つのラウンジコーナーを設けている。<br />
  光り輝くダイナミックな東京を借景にグラスを傾け語らう、ラウンジのソファに身を沈め賓客をもてなす。<br />
  タワーレジデンスならではのプレミアムなひとときがここにはある。
  </p>
<%= image_tag "spa.png", class: "bar" %><br /><br />
<p class="title">
  穏やかな世界へ誘う、豊かな水を湛えるSPA。
  <p class="sentence">
  身体を解きほぐし、
  満ち足りた幸福感で包み込むSPAをご用意。<br />
  DRY&SPAとSTEAM&SPAの2つのSPAには
  異なるサウナを採用している。<br />
  ラグジュアリーなスペースで、
  感性は静かに研ぎ澄まされ、
  心地よいリラクゼーションを
  もたらしてくれるだろう。
  </p>
<%= image_tag "スーパー.png", class: "bar" %><br /><br />
<p class="title">
  建物の1階に24時間営業のスーパー「マルエツ」
  <p class="sentence">
  限りある時間を有効に活用してもらいたい。1階には、多彩な品揃えが魅力のマルエツ。敷地から出ることなくいつでも気軽に、利用することができる。
  </p>
  <%= image_tag "owner's suites.png", class: "bar" %><br /><br />
<p class="title">
  “おもてなし”のひとときを。
  <p class="sentence">
  別世界の居心地を多くの方々に享受していただきたい。
  その想いから“和”“シティ”“リゾート”、それぞれに趣向を凝らした3つのオーナーズスイートを設えた。
  友人やご家族をお迎えした際には、贅沢な社交スペースとしても活用することができる。
  </p>

  <br /><br />
<p class="title2">
  イベント履歴
</p>
<ul>
  <%= render partial: "common/event", collection: @events %>
  <%= paginate(@events) %><br /><br />
</ul><br />
</div>