  <h3><%= @event.title %></h3>
  <p>
    <%= @event.date %>
  </p>
  <p>
    <%= @event.member %>/16名 あと<%= @event.rest_member %>名！
  </p>
  <p>
  <%= link_to "イベント詳細" %>
  <%= link_to "申し込み" %>
  <p>
<%= image_tag "飲み会.png", class: "shousai" %>

  <h2>イベント詳細</h2>
    <p class="title">
    参加費：無料<br />
    ※強制ではないですが、食費がかかるのでお気持ち(大体500円ほど)
    、お酒はこちらで用意しますが、適当に持って来ていただけると助かります。<br />
    条件：エンジニアの方<br />
    イベント時間：2時間<br />
    持ち物：特にありません<br />
    <p>
    この会は同じ職業の人が仕事の意見交換や相談をするために主催しています。<br />
    特にSEの方は社内での会話がなかなかできないと聞くので、主催することにしました。
    </p><br />
  <h2>イベントの流れ</h2>
    <p>
      1.お申し込み<br />
      2.確認メール<br />
      3.会場へ<br />
      4.自己紹介<br />
      5.フリートーク席替え<br />
      6.閉会連絡先交換<br />
    </p>
  <h2>過去のこのイベントの動画や日記
  </h2>
  <li><%= link_to "1" %></li>
  <li><%= link_to "2" %></li>
  <li><%= link_to "3" %></li>
  <li><%= link_to "4" %></li>
  <li><%= link_to "5" %></li>
  <h2>
  Eeventのイベントに参加された人
  </h2>
  <p>
  公務員・会社員、SE・事務職員、人材系・銀行員
  </p>