<div class="margin">
<h2>イベント参加レポート</h2>
  <ul>
    <li><%= link_to "1" %></li>
    <li><%= link_to "2" %></li>
    <li><%= link_to "3" %></li>
    <li><%= link_to "4" %></li>
    <li><%= link_to "5" %></li>
    <li><%= link_to "6" %></li>
  </ul>
</div>