<p id="notice"><%= notice %></p>

<p>
  <strong>Cached satisfaction list:</strong>
  <%= @questionnaire.cached_satisfaction_list %>
</p>

<p>
  <strong>Cached trigger list:</strong>
  <%= @questionnaire.cached_trigger_list %>
</p>

<p>
  <strong>Body:</strong>
  <%= @questionnaire.body %>
</p>

<p>
  <strong>Template:</strong>
  <%= @questionnaire.template %>
</p>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
