<div id="sub">
   <div class="sectionsection">
      <h2>マイページ</h2>
      <% if user_signed_in? %>
       <% unless current_user.full_profile? %>
        <%= link_to "入力されてない箇所があります", edit_user_path %>
       <% end %>
       <ul>
         <li>
         <%= link_to "マイページ", user_path(current_user) %><br />
         <%= link_to "プロフィール編集", edit_user_path(current_user) %><br />
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
         </li>
       </ul>
      <% else %>
        <%= link_to 'アカウント', new_user_registration_path %>
      <% end %>
   </div>
   <div class="sectionsection">
      <h2>マップ</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1637.0168087804761!2d139.77777571612893!3d35.65482656972657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1452502488023" width="224" height="224" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div><!-- /.section -->
   <div class="sectionsection">
      <h2>カレンダー</h2>
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=230&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ads21.hideya%40gmail.com&amp;color=%231B887A&amp;ctz=Asia%2FTokyo" style="border-width:0" width="224" height="224" frameborder="0" scrolling="no"></iframe>
   </div><!-- /.section -->
   <div class="sectionsection">
      <h2>リンク</h2>
        リンク集が入る<br />
        アンケートはFreeOnlineSurveys<br />
           <%= link_to "お問い合わせ", inquiries_path %>
   </div><!-- /.section -->
   <div class="sectionsection">
      <h2>ツイート</h2>
        ツイッターのフィールドが入る<br />
   </div><!-- /.section -->
</div><!-- /#sub -->