<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Eevents</title>
</head>
<body>
<div class="col-xs-12">
<div id="top">
  <%= render partial: 'common/header' %>
  <%= render partial: 'common/nav' %>

  <div id="contents">
    <% if controller.controller_name == 'events' && controller.action_name == 'index' %>
      <div id="headImage">
        <%= image_tag "entrance3.png", class: "icatch" %>
      </div><!-- /#headImage -->
    <% elsif controller.controller_name == 'concepts'  %>
      <div id="headImage">
        <%= image_tag "他社.png", class: "icatch" %>
      </div>
    <% elsif controller.controller_name == 'reports' %>
      <div id="headImage">
        <%= image_tag "report.png", class: "icatch" %>
    <% elsif controller.controller_name == 'reasons' %>
      <div id="headImage">
        <%= image_tag "nomoney.png", class: "icatch" %>
    <% elsif controller.controller_name == 'questions' %>
      <div id="headImage">
        <%= image_tag "question.png", class: "icatch" %>


    <% end %>
  <div class="row">
  <div class="col-xs-8">

    <div id="main">
      <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div class="col-xs-4">
    <%= render partial: 'common/sidebar' %>
  </div>
  </div>
  </div>

  <div id="footer">
    <div id="pageTop">
      <a href="/">ページのトップへ戻る</a>
    </div><!-- /#pageTop -->
  <div class="row">
  <div class="col-xs-12">
    <div class="center">
    <div class="copyright">
      Copyright &copy; 2015 Eevents All Rights Reserved.
    </div>
    </div>
  </div>
  </div>
  </div><!-- /#footer -->
</div><!-- /#top -->
</body>
</html>